In [4]:
import numpy as np

In [20]:
X = np.array([[1,2,3,6,7,8],[6,4,7,8,1,4]]).transpose()
    
Y = np.array([7,8,16,44,50,68]).transpose()

In [21]:
X,Y

(array([[1, 6],
        [2, 4],
        [3, 7],
        [6, 8],
        [7, 1],
        [8, 4]]), array([ 7,  8, 16, 44, 50, 68]))

In [16]:
import pandas as pd

In [26]:
df = pd.DataFrame(X, columns=['x1','x2'])
df['y'] = Y
df

   x1  x2   y
0   1   6   7
1   2   4   8
2   3   7  16
3   6   8  44
4   7   1  50
5   8   4  68

In [61]:
def knn(q, df, k, dist_type='E'):
    x1,x2 =q
    
    if dist_type == 'E':
        # euclidean distance
        dist = np.sqrt((df.x1-x1)**2 + (df.x2-x2)**2)
    elif dist_type == 'M':
        # manhattan distance
        dist = (df.x1-x1).abs() + (df.x2-x2).abs()
    else:        
        raise ValueError('dist_type should be E or M')
        
    d = pd.DataFrame({'dist':dist, 'y':df['y']})
    d = d.sort_values('dist')
    
    # determine how many to take. need rows that gives k uniqu distances
    rows = k
    while len(d['y'].head(rows).unique()) < k:
        rows = rows+1
    return d.head(rows)['y'].mean()

In [65]:
knn([4,2], df,1,'M')

8.0